<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Survey Index</title>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p>{{message}}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form action='/result' method='post'>
        Name: <input type='text' name='name'> <br />
        Dojo Location:
        <select name="location">
          <option value="Seattle">Seattle</option>
          <option value="San Jose">San jose</option>
          <option value="Los Angeles">Los Angeles</option>
          <option value="Dallas">Dallas</option>
          <option value="Washington, D.C.">Washington, D.C.</option>
          <option value="Chicago">Chicago</option>
        </select> <br />
        Favorite Language:
        <select name="language">
          <option value="Python">Python</option>
          <option value="JavaScript">JavaScript</option>
          <option value="PHP">PHP</option>
        </select><br />
        Comments (optional):<br />
        <textarea name="comment" rows="10" cols="70"></textarea><br  />
        <input type='submit' value='Submit'>
    </form>
  </body>
</html>
