<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Word</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'rand_word/style.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
    <div class="container">
        <div class="title">
            Random Word (attempt # {{request.session.counter}})
        </div>
        <div class="time">
            {{word}}
        </div>
        <form action="/" method="post">
            {% csrf_token %}
            <input type="submit" value="Generate">
        </form>

    </div><!-- end container -->
</body>
</html>