<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Friend</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Edit Friend</h1>
        {% for friend in all_friends %}
            <form action='/friends/{{ friend["id"] }}' method='POST'>
                <label for="first_name">First Name: <input type="text" name="first_name" id="first_name" value="{{ friend['first_name'] }}"></label>
                <label for="last_name">Last Name: <input type="text" name="last_name" id="last_name" value="{{ friend['last_name'] }}"></label>
                <label for="email">Email Address: <input type="text" name="email" id="email" value="{{ friend['email'] }}"></label>
                <input type="submit" value="Update Friend">
            </form>
        {% endfor %}
    </div>
</body>
</html>