<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ninja Gold</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>Your Gold: {{ session['gold'] }}</h1>
      <div class="formBox">
        <h1>Farm</h1>
        <p>(earns 10-20 gold)</p>
        <form action="/process_money" method="post">
          <input type="hidden" name="building" value="farm" />
          <input type="submit" value="Find Gold!"/>
        </form>
      </div><!-- end formBox -->

      <div class="formBox">
        <h1>Cave</h1>
        <p>(earns 5-10 gold)</p>
        <form action="/process_money" method="post">
          <input type="hidden" name="building" value="cave" />
          <input type="submit" value="Find Gold!"/>
        </form>
      </div><!-- end formBox -->

      <div class="formBox">
        <h1>House</h1>
        <p>(earns 2-5 gold)</p>
        <form action="/process_money" method="post">
          <input type="hidden" name="building" value="house" />
          <input type="submit" value="Find Gold!"/>
        </form>
      </div><!-- end formBox -->

      <div class="formBox">
        <h1>Casino</h1>
        <p>(earns/takes 0-50 gold)</p>
        <form action="/process_money" method="post">
          <input type="hidden" name="building" value="casino" />
          <input type="submit" value="Find Gold!"/>
        </form>
      </div><!-- end formBox -->

      <p>Activities:</p>
      <div class="activityBox">
        {% for activity in session['activities'] %}
        <p>{{activity}}</p>
        {% endfor %}

      </div><!-- end activityBox -->

      <a href="/clearall">Clear all</a>
    </div><!-- end container-->
  </body>
</html>
