<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Session Words</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'words/style.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
    <div class="container">
        <div class="main">
            <form action="/process" method="post">
                {% csrf_token %}
                <label for="word">Add a new word:</label>
                <input type="text" id="word" name="word">
                <p>Choose a color:</p>
                <input type="radio" name="color" value="red" checked> Red<br />
                <input type="radio" name="color" value="green"> Green<br />
                <input type="radio" name="color" value="blue"> Blue <br /><br />
                
                <input type="checkbox" name="big" value="big"> show in BIG fonts!<br />

                <input type="submit" value="Submit">
            </form>
        </div>
        

    </div><!-- end container -->
</body>
</html>